/* course page */
.media.il_HeaderInner {
    display: none;
}
.ilAccHeadingHidden {
    display: none;
}
#mainscrolldiv > ul#ilTab {
    display: none;
}

#ilContentContainer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px 100px 20px;
}
#ilContentContainer.dci-course-page {
    font-size: var(--font-size-small);
    line-height: var(--font-size-xlarge);
}

body.is_course #ilContentContainer .dci-course-cover {
    width: 100%;
    min-height: 150px;
    margin-bottom: 50px;
}
body.is_course #ilContentContainer .dci-course-cover figure {
    margin: 0;
}
body.is_course #ilContentContainer .dci-course-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
#ilContentContainer .dci-course-title h1 {
    font-size: var(--font-size-xxlarge) !important;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
#ilContentContainer .row h1 {
    font-size: var(--font-size-xxlarge) !important;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    position: relative;
}
#ilContentContainer .row h2 {
    margin-top: 2em;
}
#ilContentContainer .ilContainerBlock {
    display: none;
}

.il-copg-mob-fullscreen-modal {
    display: none;
}
#il_right_col {
    display: none;
}


/* meter */
.dci-meter {
    background: var(--color-xlight-grey);
    border-radius: 3em;
    white-space: nowrap;
}
.kalamun-training-dashboard_course .dci-meter {
    background: var(--color-light-grey);
    padding: 0;
    min-height: 8px;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.dci-meter-progress {
    height: 100%;
    min-width: 5px;
    background: var(--color-red);
    position: absolute;
    top: 0;
    left: 0;
}


/* cleanup eDami */
#ilContentContainer .row h1 {
    position: relative;
    padding: 0;
    border-left: 0;
    border-right: 0;
}

.dci-card-preview .dci-card-progress.completed::after {
    content: 'COMPLETED';
}
