/* tabs */

#ilTab {
    border: 0;
}
#ilSubTab {
    padding: 0;
    margin: -5px 15px 15px;
    background: var(--color-xxxlight-blue);
    border-radius: var(--border-radius);
    display: flex;
    width: 100%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: var(--color-xxxlight-blue);
    color: var(--color-dark-blue);
    border: 0 none;
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
.nav-pills > li {
    float: none;
}


/* dropdown */
ul.dropdown-menu {
    border-radius: var(--border-radius-large);
    padding: 0;
    overflow: hidden;
}
ul.dropdown-menu > li {
    padding: 0;
    border-bottom: 1px solid var(--color-xxxlight-blue);
    margin: 0;
}
ul.dropdown-menu > li:last-of-type {
    border-bottom: 0;
}
ul.dropdown-menu > li a {
    padding: 7px 12px;
}
ul.dropdown-menu > li a:hover {
    color: var(--color-light-blue);
    background: var(--color-xxxlight-blue);
}

/* other */

#il_center_col .panel .panel-heading:is(.ilHeader, .ilBlockHeader) {
    border-bottom: 1px solid var(--color-xlight-grey);
    background-color: transparent;
}
#il_center_col .panel {
    border: none;
}

.alert-info {
    color: var(--color-red);
    background-color: var(--color-xxxlight-red);
    border-color: var(--color-xxxlight-red);
}

