* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
	overflow-x: hidden;
}

body {
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
	--border-radius: 3px;
	--border-radius-large: 8px;
}

ol, ul {
	padding-left: 2em;
}

li {
	margin: .3em;
}

blockquote {
	quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-style: none;
	border-collapse: separate;
	border-spacing: 0;
	border: 0;
	max-width: 100% ;
}

table td {
	padding: 2px;
	vertical-align: top;
}

img,
object,
iframe,
figure {
	vertical-align: middle;
	border: 0;
	max-width: 100%;
	height:auto;
}

iframe {
	max-width: 100% ;
}

.sr-only {
    display: none;
}


/* forms */
label, input, select, button {
	cursor: pointer;
}
input[type]:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="file"]) {
	cursor: text;
}

.form-control, input, select, textarea,
body .yui-skin-sam .yui-button {
  height: auto;
  padding: 6px 9px;
  font-size: 1em;
  color: var(--color-black);
  border: 1px solid var(--color-xxlight-blue);
  border-radius: var(--border-radius);
  background: var(--color-xxxlight-blue);
  resize: none;
}
.form-control:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 3px solid var(--color-xxlight-blue);
}

/* color picker */
body .yui-skin-sam .yui-button {
	padding: 0;
}
body .yui-skin-sam .yui-button .first-child {
	border: 0;
}
body .yui-skin-sam .yui-button button,
body .yui-skin-sam .yui-button a,
body .yui-skin-sam .yui-button a:visited {
	padding: 0 15px 0 0;
	font-size: 1em;
  position: relative;
  min-width: 3em;
}
body .yui-skin-sam .yui-button button em {
	position: absolute;
	top: 0;
	left: 0;
	right: 15px;
	bottom: 0;
}
